## **AICP Internship Task Week 2**

In [1]:
import pandas as pd

data = [1, 4, 9, 6, 7]
index = ['a','x','c',2 , 'e']
series = pd.Series(data, index=index, dtype='int64')
print(series)

a    1
x    4
c    9
2    6
e    7
dtype: int64

In [2]:
import pandas as pd

data = {'Bilal': 42, 'Ayesha': 38, 'Hadia': 39}
series = pd.Series(data)
print(series)

Bilal     42
Ayesha    38
Hadia     39
dtype: int64

In [3]:
import pandas as pd

# Create a Python dictionary with the provided data
data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

# Convert the dictionary into a pandas DataFrame
df = pd.DataFrame(data)

# Output the DataFrame
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e', 'f'])
print(df)

        day  temperature  windspeed  event
a  1/1/2017           32          6   Rain
b  1/2/2017           35          7  Sunny
c  1/3/2017           28          2   Snow
d  1/4/2017           24          7   Snow
e  1/5/2017           32          4   Rain
f  1/6/2017           31          2  Sunny

In [5]:
# Calculate mean, maximum, and minimum temperature
mean_temp = df['temperature'].mean()
max_temp = df['temperature'].max()
min_temp = df['temperature'].min()

# Output the results
print("Mean temperature:", mean_temp)
print("Maximum temperature:", max_temp)
print("Minimum temperature:", min_temp)

Mean temperature: 30.333333333333332
Maximum temperature: 35
Minimum temperature: 24

In [6]:
import pandas as pd

# Specify the file path
file_path = "people.csv"

# Read the CSV file and select specific columns
columns_to_select = ["First Name", "Sex", "Email", "Phone", "Job Title"]
dataframe = pd.read_csv(file_path, usecols=columns_to_select)

# Display the first few rows of the DataFrame
print(dataframe.head())

  First Name     Sex                       Email                   Phone  \
0     Shelby    Male        elijah57@example.net  001-084-906-7849x73518
1    Phillip  Female       bethany14@example.com       214.112.6044x4913
2   Kristine    Male       bthompson@example.com            277.609.7938
3    Yesenia    Male   kaitlinkaiser@example.com            584.094.6111
4       Lori    Male  buchananmanuel@example.net       689-207-3558x7233

            Job Title
0     Games developer
1      Phytotherapist
2           Homeopath
3   Market researcher
4  Veterinary surgeon

In [7]:
#Setting "Sex", "Job Title" as index columns
dataframe.set_index(["Sex", "Job Title"], inplace=True)
print(dataframe)

                             First Name                       Email  \
Sex    Job Title
Male   Games developer           Shelby        elijah57@example.net
Female Phytotherapist           Phillip       bethany14@example.com
Male   Homeopath               Kristine       bthompson@example.com
       Market researcher        Yesenia   kaitlinkaiser@example.com
       Veterinary surgeon          Lori  buchananmanuel@example.net
...                                 ...                         ...
Female Software engineer         Dennis         bmartin@example.org
       Barrister                  Steve       latasha46@example.net
Male   Police officer            Wesley        regina11@example.org
Female Broadcast journalist      Summer  alexiscantrell@example.org
Male   IT sales professional     Mariah       pcopeland@example.org

                                               Phone
Sex    Job Title
Male   Games developer        001-084-906-7849x73518
Female Phytotherapist              214.112.6044x4913
Male   Homeopath                        277.609.7938
       Market researcher                584.094.6111
       Veterinary surgeon          689-207-3558x7233
...                                              ...
Female Software engineer        001-095-524-2112x257
       Barrister                    001-865-478-5157
Male   Police officer             995-542-3004x76800
Female Broadcast journalist     001-273-685-6932x092
Male   IT sales professional     (341)594-6554x44657

[100 rows x 3 columns]

In [8]:
#Skipping rows[1,5]
dataframe = pd.read_csv(file_path, skiprows=[1, 5])
print(dataframe)

    Index          User Id First Name  Last Name     Sex  \
0       2  f90cD3E76f1A9b9    Phillip    Summers  Female
1       3  DbeAb8CcdfeFC2c   Kristine     Travis    Male
2       4  A31Bee3c201ef58    Yesenia   Martinez    Male
3       6  bfDD7CDEF5D865B       Erin        Day    Male
4       7  bE9EEf34cB72AF7  Katherine       Buck  Female
..    ...              ...        ...        ...     ...
93     96  5eFda7caAeB260E     Dennis     Barnes  Female
94     97  CCbFce93d3720bE      Steve  Patterson  Female
95     98  2fEc528aFAF0b69     Wesley       Bray    Male
96     99  Adc7ad9B6e4A1Fe     Summer   Oconnell  Female
97    100  b8D0aD3490FC7e1     Mariah    Bernard    Male

                         Email                  Phone Date of birth  \
0        bethany14@example.com      214.112.6044x4913    1910-03-24
1        bthompson@example.com           277.609.7938    1992-07-02
2    kaitlinkaiser@example.com           584.094.6111    2017-08-03
3          tconner@example.org  001-171-649-9856x5553    2015-10-28
4      conniecowan@example.com  +1-773-151-6685x49162    1989-01-22
..                         ...                    ...           ...
93         bmartin@example.org   001-095-524-2112x257    1954-07-30
94       latasha46@example.net       001-865-478-5157    1932-04-29
95        regina11@example.org     995-542-3004x76800    1994-12-28
96  alexiscantrell@example.org   001-273-685-6932x092    2012-04-12
97       pcopeland@example.org    (341)594-6554x44657    2016-11-15

                   Job Title
0             Phytotherapist
1                  Homeopath
2          Market researcher
3   Waste management officer
4       Intelligence analyst
..                       ...
93         Software engineer
94                 Barrister
95            Police officer
96      Broadcast journalist
97     IT sales professional

[98 rows x 9 columns]

In [9]:
export_file_path = "NewPeople.csv"

# Export the DataFrame to a new CSV file
dataframe.to_csv(export_file_path)

print("Exported CSV file successfully as 'NewPeople.csv'.")

Exported CSV file successfully as 'NewPeople.csv'.

In [10]:
import pandas as pd

# Specify the file path
file_path = "SampleWork.xlsx"

In [11]:
# Read the Excel sheet 1
data = pd.read_excel(file_path, sheet_name=0)
print(data)

     Name  Age   Stream  Percentage
0    Amir   18     Math          95
1   Bilal   19  Science          90
2  Sufyan   20  Comerce          85
3   Saiqa   18     Math          80
4   Aimen   32  Science          75

In [12]:
#import only first and last column
data = pd.read_excel(file_path,sheet_name=0, usecols= [0,-1])
print(data)

     Name
0    Amir
1   Bilal
2  Sufyan
3   Saiqa
4   Aimen

In [13]:
# skip row 2
data = pd.read_excel(file_path, skiprows=[2])
print(data)

     Name  Age   Stream  Percentage
0    Amir   18     Math          95
1  Sufyan   20  Comerce          85
2   Saiqa   18     Math          80
3   Aimen   32  Science          75

In [14]:
# set row 2 as header
data = pd.read_excel(file_path, header=2)
print(data)

    Bilal  19  Science  90
0  Sufyan  20  Comerce  85
1   Saiqa  18     Math  80
2   Aimen  32  Science  75

In [15]:
# Export the modified DataFrame as a new sheet in the same Excel file
with pd.ExcelWriter(file_path, engine='openpyxl', mode='a') as writer:
    data.to_excel(writer, sheet_name='NewSheet', index=False)

print("Exported DataFrame as 'NewSheet' in 'SampleWork.xlsx'.")

Exported DataFrame as 'NewSheet' in 'SampleWork.xlsx'.

In [16]:
import pandas as pd

# Create DataFrame AICP_DF
data = {
    'Name': ['Sonia', 'Bilal', 'Hifza', 'Kabir', 'jazim'],
    'Age': [27, 24, 22, 32, 23],
    'Address': ['Lahore', 'Karachi', 'Sialkot', 'Peshawar', 'lhr'],
    'Qualification': ['Msc', 'MA', 'MCA', 'Phd', 'bsc']
}

AICP_DF = pd.DataFrame(data)
print("AICP_DF:")
print(AICP_DF)

AICP_DF:
    Name  Age   Address Qualification
0  Sonia   27    Lahore           Msc
1  Bilal   24   Karachi            MA
2  Hifza   22   Sialkot           MCA
3  Kabir   32  Peshawar           Phd
4  jazim   23       lhr           bsc

In [17]:
# Select 'Name', 'Qualification' columns and save to df1
df1 = AICP_DF[['Name', 'Qualification']]
print("\ndf1:")
print(df1)

df1:
    Name Qualification
0  Sonia           Msc
1  Bilal            MA
2  Hifza           MCA
3  Kabir           Phd
4  jazim           bsc

In [18]:
# Add a new column "Height" with the given values
AICP_DF['Height'] = [5.1, 6.2, 5.1, 5.2, 5.1]
print("AICP_DF:")
print(AICP_DF)

AICP_DF:
    Name  Age   Address Qualification  Height
0  Sonia   27    Lahore           Msc     5.1
1  Bilal   24   Karachi            MA     6.2
2  Hifza   22   Sialkot           MCA     5.1
3  Kabir   32  Peshawar           Phd     5.2
4  jazim   23       lhr           bsc     5.1

In [19]:
# Set column "Name" as the index column
AICP_DF.set_index('Name', inplace=True)
print("AICP_DF:")
print(AICP_DF)

AICP_DF:
       Age   Address Qualification  Height
Name
Sonia   27    Lahore           Msc     5.1
Bilal   24   Karachi            MA     6.2
Hifza   22   Sialkot           MCA     5.1
Kabir   32  Peshawar           Phd     5.2
jazim   23       lhr           bsc     5.1

In [20]:
# Retrieve row with index "Hifza"
row_hifza = AICP_DF.loc['Hifza']
print("\nRow with index 'Hifza':")
print(row_hifza)

Row with index 'Hifza':
Age                   22
Address          Sialkot
Qualification        MCA
Height               5.1
Name: Hifza, dtype: object

In [21]:
# Retrieve row with index 3
row_index_3 = AICP_DF.iloc[3]
print("\nRow with index 3:")
print(row_index_3)

Row with index 3:
Age                    32
Address          Peshawar
Qualification         Phd
Height                5.2
Name: Kabir, dtype: object

In [22]:
# Drop row with index "Bilal"
AICP_DF.drop(index='Bilal', inplace=True)
print("AICP_DF:")
print(AICP_DF)

AICP_DF:
       Age   Address Qualification  Height
Name
Sonia   27    Lahore           Msc     5.1
Hifza   22   Sialkot           MCA     5.1
Kabir   32  Peshawar           Phd     5.2
jazim   23       lhr           bsc     5.1